.App {
  text-align: center;
}


.bg-image{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("pokemon-bd-1.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}
